
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Библиотека</title>
</head>
<body>
    <div>
        <h3>Добро пожаловать в библиотеку!</h3>
        <p><a href="/Holder/HolderIndex">Стать клиентом библиотеки</a></p>
        <p><a href="/Book/BookIndex">Внести книгу</a></p>
        <p><a href="/Rent/RentIndex">Взять книгу</a></p>
    </div>
</body>
</html>
